In [ ]:
-- 1.
SELECT exam, sid, ename, MAX(mark) FROM marks
INNER JOIN students ON marks.student = students.sid
GROUP BY exam
HAVING mark = MAX(mark);

-- 2.
SELECT exam, AVG(mark) FROM marks
GROUP BY exam;

-- 3.
SELECT ename, class FROM students AS t1
GROUP BY class
HAVING sid = (
  SELECT sid FROM students AS t2
  INNER JOIN marks ON sid = student
  WHERE t2.class = t1.class
  GROUP BY student
  HAVING SUM(mark) = MAX(SUM(mark))
);

-- 4.
SELECT exam FROM marks AS t1
INNER JOIN exams ON eid = exam
GROUP BY exam
HAVING AVG(mark/fullmark) = MIN(
  SELECT AVG(mark/fullmark) FROM marks GROUP BY exam
);

-- 5.
CREATE VIEW teach_to_marks AS
SELECT subj, class, AVG(mark/fullmark) AS m FROM teach
JOIN students ON students.class = teach.class
JOIN exams ON exams.subj = teach.subj
GROUP BY subj, class;

SELECT t1.ename FROM teachers AS t1
JOIN teach_to_marks ON
  teach_to_marks.subj = t1.subj AND teach_to_marks.class = t1.class
ORDER BY m DESC;

-- 6. Each subject and class could have more than 1 teachers. (For example PE lessons)