# Group By Quiz 1
(Created on 2024-06-30)

Consider the following query:

In [ ]:
CREATE TABLE students (
  sid       INTEGER NOT NULL PRIMARY KEY,
  ename     VARCHAR(255) NOT NULL,
  class     CHAR(2) NOT NULL
);
CREATE TABLE exams (
  eid       INTEGER NOT NULL PRIMARY KEY,
  subj      VARCHAR(255) NOT NULL,
  paper     VARCHAR(7) NOT NULL,
  examdate  DATE NOT NULL,
  fullmark  INTEGER NOT NULL
);
CREATE TABLE marks (
  student   INTEGER NOT NULL REFERENCES students(sid),
  exam      INTEGER NOT NULL REFERENCES exams(eid),
  mark      INTEGER
);

1. (Lvl 5) Write a query showing the student (and their score) with the highest mark for each exam.
2. (Lvl 4) Write a query showing the average mark for each exam.
3. (Lvl 5) Write a query showing the student with the best results for each class.
4. (Lvl 5) Find the hardest exam (which students perform the poorest).

Consider the following additional query:

In [ ]:
CREATE TABLE teachers (
  tid       INTEGER NOT NULL PRIMARY KEY,
  ename     VARCHAR(255) NOT NULL,
);
CREATE TABLE teach (
  subj      VARCHAR(255) NOT NULL,
  teach     INTEGER NOT NULL REFERENCES TEACHERS(tid),
  class     CHAR(2) NOT NULL
);

5. (Lvl 5**) Write a query listing out names of teachers in descending order of their performance, which is evaluated by the performance of their students in their exams.
6. (Lvl 3) State a reasonable rationale behind not setting `subj + class` as a primary key in table `teach`.